<div class="toolbar" ><span>Home</span><div class="spacer"></div></div>
<div class="toolbar" role="banner">
    
    <span>Home</span><div class="spacer"></div>
    <span>Timesheet Report</span>
    <div class="spacer"></div>
    <span>Skills</span>
    <div class="spacer"></div>
    <span>Simplot Reference Links</span>
    <div class="spacer"></div>
    <span>Training Content</span>
    <div class="spacer"></div>
    <span>Project Initiatives</span>
    <div class="spacer"></div>
    <span>Data Comparision</span>
    <div class="spacer"></div>
    <span>Training Schedule</span>
    <div class="spacer"></div>
    <div ngbDropdown >
        <span ngbDropdownToggle>Dashboard</span>
        <div ngbDropdownMenu >
          <button ngbDropdownItem>Weekly Dashbaord</button>
          <button ngbDropdownItem>Business Review Slides</button>
        </div>
      
</div>